* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    background-color: hsl(30, 38%, 92%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.product-card {
    display: flex;
    max-width: 600px;
    margin: 1rem;   
    border-radius: 10px;
    overflow: hidden;
}

.product-image {
    object-fit: cover;
    width: 50%;
}

.product-details {
    padding: 2.3rem;
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    overflow-y: auto;
}

.product-type {
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: hsl(228, 12%, 48%)
}

.product-name {
    font-family: 'Fraunces', serif;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.product-description {
    line-height: 1.6;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: hsl(228, 12%, 48%)
}

.prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.8rem 0 1.8rem 0;
}

.discounted-price {
    font-family: 'Fraunces', serif;
    font-size: 2.3rem;
    font-weight: 700;
    margin-right: 1.5rem;
    color: hsl(158, 36%, 37%);
}

.full-price {
    text-decoration: line-through;
    font-size: 0.9rem;
    padding: 1rem 1rem 1rem 0;
    color: hsl(158, 36%, 37%);
}

.add-to-cart-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0.8rem;
    color: white;
    background-color: hsl(158, 36%, 37%);
    font: inherit;
    transition: background-color 0.4s ease;
}

.add-to-cart-btn img {
    width: 15px;
}

.add-to-cart-btn > * {
    margin: 0.4rem;
}

.add-to-cart-btn:hover {
    cursor: pointer;
    background-color: hsl(156, 42%, 18%);
}

.attribution {
    font-size: 11px; 
    text-align: center;
    margin: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }

@media screen and (max-width: 550px) {
    .product-card {
        flex-direction: column;
    }

    .product-image  {
        width: 100%;
        max-height: 250px;
    }

    .product-details {
        width: 100%;
        padding: 1.8rem;
    }
}
